body {
	font: normal x-small verdana,arial,helvetica,sans-serif;
	background-color: white;
	white-space: nowrap;
}

body, div {
	margin : 0px;
	padding : 0px;
}

#header {
	border-bottom: 1px solid #5f99cf;
    background-color: #cee3f8;
	position: relative;
}

#headerTop {
	background-color: #f0f0f0;
	text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    height: 18px;
    line-height: 18px;
}

#header ul, li {
	display : inline;
	list-style : none;
	margin : 0;
	padding : 0;
}

#headerTop a {
	color : black;
	text-decoration : none;
}

#headerTop a:hover {
	text-decoration : underline;
}

#srList {
	overflow : hidden;
}

#srListMore {
	background-color : #f0f0f0;
	position: absolute;
	top : 0;
	right : 0;
	font-weight : bold;
	padding-right : 21px;
	padding-left : 15px;
	cursor : pointer;
}

#headerSubreddit {
	background: none no-repeat scroll center right;	
	float: left;
    vertical-align: bottom;
    padding-right: 21px;
	margin-right : 11px;
	padding-left: 5px;
    color: black;
    font-weight: normal;
    cursor: pointer;
	background-image : url(https://www.redditstatic.com/droparrowgray.gif);
}

#headerLeft {
	float : left;
	font-size : larger;
	font-weight : bold;
}

#headerLeft li {
	background-color : #eff7ff;
	padding: 2px 6px 0 6px;
	margin: 0 3px;
	border-bottom : 1px solid #5f99cf;	
}

#headerLeft a {
	color : #369;
	text-decoration : none;
}

#headerLeft .selected {
	background-color : white;
	border : 1px solid #5f99cf;
	border-bottom : 1px solid white;
}

#headerLeft .selected a {
	color : orangered;
}

#headerRight {
	padding : 4px;
	background-color : #EFF7FF;
	border-top-left-radius: 7px;
	position: absolute;
	bottom: 0;
	right: 0;
}

#headerRight a {
	color : #369;
	text-decoration : none;
}

#redditImg {
	background-image: url(https://www.redditstatic.com/sprite-reddit.bTLvdEETokI.png);
    background-position: 0px -1323px;
    background-repeat: no-repeat;
    height: 40px;
    width: 120px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 5px;
}


#content {
	margin-top: 10%;
	height: auto;
}

.divider {
	color: gray;
    margin: 0px .7ex 0px .7ex;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}
